<header class="app-header">
  <div class="app-header__wrapper">
    <div class="profile-menu">
      <button mat-button [matMenuTriggerFor]="belowMenu">
        <i class="material-icons md-36">menu</i>
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="navigate('register')"><span>Register</span></button>

        <div *ngIf="!isAuthenticated">
          <button mat-menu-item (click)="login()"><span>Login</span></button>
        </div>
        <div *ngIf="isAuthenticated">
          <button mat-menu-item [disabled]="true"><span>{{userEmail}}</span></button>
          <button mat-menu-item (click)="logout()"><span>Logout</span></button>
        </div>
      </mat-menu>
    </div>
    <div class="app-header__block" (click)="navigate('home')">
      Restaurant Remembered
    </div>
  </div>
</header>
