.example-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.example-container > * {
  @media only screen and (min-width: 1000px) {
    margin: 0px auto 0px auto;
    width: 50%;
  }
  width:100%;
}

.not-authenticated {
  margin: 15px;
  padding: 15px 50px 15px 50px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  text-align: center;
}
