<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Restaurant Name</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Restaurant Address</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Restaurant Phone Number</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Restaurant Description</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <button mat-raised-button>Clear</button>
  <br>
  <button mat-raised-button>Submit</button>

</div>

