<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="!isAuthenticated">
    <div class="not-authenticated">
      This feature is only available for authenticated users
    </div>
  </div>
  <div *ngIf="isAuthenticated">
    <div class="container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let restaurant">
              {{restaurant.name}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
            <mat-cell *matCellDef="let restaurant">
              <span class="mobile-label">Address:</span>{{restaurant.address}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
            <mat-cell *matCellDef="let restaurant">
              <span class="mobile-label">Phone:</span>{{restaurant.phone}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let restaurant">
              <span class="mobile-label">Desc: </span>{{restaurant.description}}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
  </div>
</div>
