// table {
//   margin-top:25px;
//   width: 100%;
// }

.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  margin: 15px 50px 15px 50px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px;
  }
}

.not-authenticated {
  margin: 15px;
  padding: 15px 50px 15px 50px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  text-align: center;
}
