.example-card {
  max-width: 300px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  margin: 10px auto 0px auto;
  width: 80%;


}

.tab-text {
  @media only screen and (max-width: 700px) {
    display: none;
  }
}
